h1{
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
}


input{
    width: 100%;
}

.radio{
    margin-top:0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.centerForm {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}