<img src="https://cdn.evbuc.com/images/17218482/70057254841/2/logo.jpg" class="center">


<div class="container center" *ngIf="selected===false">
    <div class="row">
        <div class="col-sm cpButtons" (click)="enter('parent')">
            Parent
        </div>
        <div class="col-sm cpButtons" (click)="enter('child')">
            Child
        </div>
    </div>
</div>

<app-parent-landing *ngIf="parent===true"></app-parent-landing>

<app-child-landing *ngIf="child===true"></app-child-landing>

