<img src="https://cdn.evbuc.com/images/17218482/70057254841/2/logo.jpg" class="center">
<h1 class="center">DinoChores</h1>

<div class="container center">
            <div class="col-sm cpButtons" routerLink="login">
                Login
            </div>
            <div class="col-sm cpButtons" routerLink="parent-signup">
                Parent Sign Up
            </div>
            <div class="col-sm cpButtons" routerLink="child-signup">
                Child Sign Up
            </div>
    </div>
    
