
<div id="container">

        <h1>Chores</h1>
        <ul>
            <li *ngFor="let chore of chores">
                <button type="button" class="btn btn-danger" *ngIf="now > chore.payload.doc.data().due.seconds*1000" disabled>Incomplete
                </button>

                <button *ngIf="chore.payload.doc.data().status=='scheduled' && chore.payload.doc.data().due.seconds*1000 >= now
                " (click)="pending(chore)">Complete?</button>

                <button *ngIf="chore.payload.doc.data().status=='pending' && chore.payload.doc.data().due.seconds*1000 >= now
                " (click)="complete(chore, chore.payload.doc.data().points)" disabled>Pending Approval</button>

                <span data-toggle="collapse" href="#collapse">{{chore.payload.doc.data().title}}</span>
                <span class="right">Due: {{chore.payload.doc.data().due.seconds*1000 |  date:'EEEE MMM d, y, h:mm:ss a'}}
                    <span class="badge badge-pill badge-success">{{chore.payload.doc.data().points}}pts</span>
                </span>
                <div class="collapse" id="collapse">
                    <div class="card card-body">
                        {{chore.payload.doc.data().description}}
                    </div>
                </div>
            </li>
        </ul>
    
    
    </div>
    