<div class=container>
<div class="form centerForm">
        <h1>Child Sign Up</h1>
        <form [formGroup]="signUp" (ngSubmit)="onSignUp(signUp)">
                <div class="form-group">
                        <label>Parent ID: </label>
                        <input placeholder="ID"
                               formControlName="parentID"
                               required>
                        <br>
                    </div>
           
            <div class="form-group">
                <label>Email: </label>
                <input placeholder="email"
                       formControlName="email"
                       required>
                <br>
            </div>

            <div class="form-group">
                    <label>Name: </label>
                    <input placeholder="first and last name"
                           formControlName="name"
                           required
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <br>
                </div>

                <div class="form-group">
                    <label>Password: </label>
                    <input type="password" 
                    formControlName="password"
                    name="password"
                    placeholder="Password"
                    required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
                    <div *ngIf="password.invalid && (signUp.submitted || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required"> Password is required. </div>
                            <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.
                            </div>
                    </div>
                <br>
            </div>
            <div class="form-group">
                <label>Confirm Password: </label>
                <input type="password"
                        formControlName="confirmation"
                        name="confirmPassword"
                        placeholder="confirm password"
                        pattern="{{ password.value }}"/>
                <div *ngIf="confirmation.invalid && (signUp.submitted || confirmation.touched)" class="alert alert-danger">
                <div *ngIf="confirmation.errors.required"> password confirmation is required. </div>
                <div *ngIf="confirmation.errors.pattern"> passwords do not match.</div>

            </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div> 