
<div class="form">
    <h1>Sign Up</h1>
    <form [formGroup]="signUp" (ngSubmit)="onSignUp(signUp)">
        <div class="form-group">
            <label>Email: </label>
            <input placeholder="email"
                   formControlName="email"
                   required>
            <br>
        </div>

        <div class="form-group">
            <label>First Name: </label>
            <input placeholder="first name"
                   formControlName="firstName"
                   required>
            <br>
        </div>

        <div class="form-group">
            <label>Last Name: </label>
            <input placeholder="last name"
                   formControlName="lastName"
                   required>
            <br>
        </div>


        <div class="form-group">
            <label>Password: </label>
            <input type="password"
                   placeholder="password"
                   formControlName="password"
                   required>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
